input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgba(58, 58, 63, 0.315);
}
input:focus {
  border-color: #5e72e4;
}

.button {
  background-color: #5e72e4;
  border-radius: 50%;
  border: none;
}
